*{
  margin:0;
  padding:0;
  font-family:Helvetica,Arial,sans-serif;
}

header{
  width:100%;
  display: flex;
  max-height: 100px;
  border:1px solid black;
}

.beatles-logo{
  margin-left: 0;
  max-width: 120px;
  margin-right: 0;
}

p{
    font-weight: bold;
    flex-grow: 1;
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
}
  
img{  
    max-width: 300px;
    display:block;
    margin:0 auto;
}


#img-caption{
  display: block;
  padding: 10px;
  text-align: center;
  margin: 10px 25px;
  font-weight: bold;
}

.menu{
  width:150px;
  height: 100%;
  background-color: black;
  color:white;
  position:fixed;
}

.menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li{
  display: block;
}

.menu li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color:white;
}

.contenedor{
  display: flex;
}

.contenido{
  margin-left: 180px;
  flex-grow: 1;
}

nav{
  text-align: left;
}


#tribute-info{
  padding: 2 2;
  margin-left:5%;
  width:90%  
}
